@charset "UTF-8";

/* 여행메이트 사이드바 */
.mate-list-sidebar {
    display: flex;
    flex: 0 0 12rem;
    width: 12rem;
}

@media (max-width: 900px) {
    .mate-list-sidebar {
        display: none;
    }
}